body {margin:0;}
.navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}

.navbar a {
    float: left;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: rgba(100,149,237,0.4);
    color: white;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}
ul {
    list-style-type: none;
}
html{
    background-image: url("../Pictures/Background (2).jpg");
    background-size: auto;
}
label{
    color: antiquewhite;
    font-family: "Bradley Hand ITC";
    font-size: x-large;
    display: inline-block;
}
input{
    width: 250px;
    height: 30px;
    color: antiquewhite;
    font-family: "Bradley Hand ITC";
    font-size: medium;
    background-color: rgba(0,0,0,0.8);
    border-width: 3px;
    border-color: rgba(135,206,235,0.2);
    display: inline-block;
}
::placeholder{
    color: antiquewhite;
    font-family: "Bradley Hand ITC";

}
::-ms-input-placeholder { /* Microsoft Edge */
    color: antiquewhite;
    font-family: "Bradley Hand ITC";

}
fieldset{
    display: inline;
    border-style: hidden;
    background-color: rgba(0,0,0,0.8);
    color: antiquewhite;
}
input[type=submit]{
    height: 50px;
}
input[type=radio]{
    display: inline-block;
    width: 20px;
    height: 20px;
}
button{
    height: 50px;
    width: 150px;
    height: 30px;
    color: antiquewhite;
    font-family: "Bradley Hand ITC";
    font-size: medium;
    background-color: rgba(0,0,0,0.8);
    border-width: 3px;
    border-color: rgba(135,206,235,0.2);
    display: inline-block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-width: 3px;
    background-color: rgba(0,0,0,0.8);
    text-align: left;
    padding: 8px;
    color: antiquewhite;

}

tr:nth-child(even) {
    background-color: rgba(0,0,0,0.8);
}
select, option{
    width: 250px;
    height: 30px;
    color: antiquewhite;
    font-family: "Bradley Hand ITC";
    font-size: medium;
    background-color: rgba(0,0,0,0.8);
    border-width: 3px;
    border-color: rgba(135,206,235,0.2);
    display: inline-block;
}
textarea{
    width: 250px;
    height: 100px;
    color: antiquewhite;
    font-family: "Bradley Hand ITC";
    font-size: medium;
    background-color: rgba(0,0,0,0.8);
    border-width: 3px;
    border-color: rgba(135,206,235,0.2);
}
.product_container
{
    margin-left:20%;
    margin-top:3%;
    /*background-color:black;*/
    width:50%;
    height:fit-content;
    display:grid;
    grid-gap:10px;
    grid-template-columns:auto auto auto auto;
}

.prod
{
    max-width:100%;
    max-height:fit-content;
    display:inline;

    /*border:5px solid red;
    border-radius:15px;*/
}

.prod img
{
    border-radius:5px;
    /*with respect to the button dimensions*/
}


